{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "api.management@nhs.net",
      "name": "Personal Demographics Service FHIR API Support",
      "url": "https://digital.nhs.uk/developer/help-and-support"
    },
    "description": "This connector is built based on the NHS PDS FHIR API (https://digital.nhs.uk/developer/api-catalogue/personal-demographics-service-fhir).\nUsers can use this connector to search for a patients, get patient details, and get a patient's related people.\nHost URL for getting a patient's related people is set to sandbox version (sandbox.api.service.nhs.uk) for lack of test data in integration (int.api.service.nhs.uk) environment.",
    "title": "Personal Demographics Service (FHIR) API",
    "version": "v1.2.1774-beta"
  },
  "host": "int.api.service.nhs.uk",
  "basePath": "/personal-demographics/FHIR/R4",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/Patient": {
      "parameters": [
        {
          "description": "An [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis).\n\nRequired in all environments except sandbox.\n",
          "format": "^Bearer\\ [[:ascii:]]+$",
          "in": "header",
          "name": "Authorization",
          "required": false,
          "type": "string"
        },
        {
          "description": "\nThe user role ID (URID) for the current session. Also known as a user role profile ID (URPID).\n\nThis header is optional.\n\nIn Application-restricted access mode this header is ignored.\n\nIn Healthcare worker access mode if you send this header it must be valid for the logged-in user. See [determine the user's role](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-cis2-separate-authentication-and-authorisation#step-9-determine-the-user-s-role) for guidance.\n",
          "in": "header",
          "name": "NHSD-Session-URID",
          "pattern": "^[0-9]+$",
          "required": false,
          "type": "string"
        },
        {
          "description": "A globally unique identifier (GUID) for the request, which we use to de-duplicate repeated requests and to trace the request if you contact our helpdesk.\n\nMust be a universally unique identifier (UUID) (ideally version 4).\n\nMirrored back in a response header.\n\nIf you re-send a failed request, use the same value in this header.\n",
          "in": "header",
          "name": "X-Request-ID",
          "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
          "required": false,
          "type": "string"
        },
        {
          "description": "An optional ID which you can use to track transactions across multiple systems. It can take any value, but we recommend avoiding `.` characters.\n\nMirrored back in a response header.\n",
          "in": "header",
          "name": "X-Correlation-ID",
          "required": false,
          "type": "string"
        },
        {
          "description": "The ODS code of an End User Organisation (EUO). Currently optional but will be updated to be mandatory for client applications which service multiple End User organisations, in order to correctly attribute calls to each EUO. Date of change to a mandatory field to be defined.\n",
          "in": "header",
          "name": "NHSD-End-User-Organisation-ODS",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "name": "_fuzzy-match",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "_exact-match",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "_history",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "_max-results",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "family",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "given",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "birthdate",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "death-date",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "address-postalcode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "address-postcode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "general-practitioner",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A completed search. This might contain zero, one or many matching patients, or it might contain a 'TOO_MANY_MATCHES' error.\n",
            "examples": {
              "application/fhir+json": {
                "entry": [
                  {
                    "fullUrl": "https://api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9000000009",
                    "resource": {
                      "address": [
                        {
                          "extension": [
                            {
                              "extension": [
                                {
                                  "url": "type",
                                  "valueCoding": {
                                    "code": "PAF",
                                    "system": "https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType"
                                  }
                                },
                                {
                                  "url": "value",
                                  "valueString": "12345678"
                                }
                              ],
                              "url": "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey"
                            }
                          ],
                          "id": "456",
                          "line": [
                            "1 Trevelyan Square",
                            "Boar Lane",
                            "City Centre",
                            "Leeds",
                            "West Yorkshire"
                          ],
                          "period": {
                            "end": "2021-12-31",
                            "start": "2020-01-01"
                          },
                          "postalCode": "LS1 6AE",
                          "use": "home"
                        }
                      ],
                      "birthDate": "2010-10-22",
                      "contact": [
                        {
                          "id": "C123",
                          "period": {
                            "end": "2021-12-31",
                            "start": "2020-01-01"
                          },
                          "relationship": [
                            {
                              "coding": [
                                {
                                  "code": "C",
                                  "display": "Emergency Contact",
                                  "system": "http://terminology.hl7.org/CodeSystem/v2-0131"
                                }
                              ]
                            }
                          ],
                          "telecom": [
                            {
                              "system": "phone",
                              "value": "01632960587"
                            }
                          ]
                        }
                      ],
                      "deceasedDateTime": "2010-10-22T00:00:00+00:00",
                      "extension": [
                        {
                          "extension": [
                            {
                              "url": "deathNotificationStatus",
                              "valueCodeableConcept": {
                                "coding": [
                                  {
                                    "code": "2",
                                    "display": "Formal - death notice received from Registrar of Deaths",
                                    "system": "https://fhir.hl7.org.uk/CodeSystem/UKCore-DeathNotificationStatus",
                                    "version": "1.0.0"
                                  }
                                ]
                              }
                            },
                            {
                              "url": "systemEffectiveDate",
                              "valueDateTime": "2010-10-22T00:00:00+00:00"
                            }
                          ],
                          "url": "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-DeathNotificationStatus"
                        }
                      ],
                      "gender": "female",
                      "generalPractitioner": [
                        {
                          "id": "254406A3",
                          "identifier": {
                            "period": {
                              "end": "2021-12-31",
                              "start": "2020-01-01"
                            },
                            "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                            "value": "Y12345"
                          },
                          "type": "Organization"
                        }
                      ],
                      "id": "9000000009",
                      "identifier": [
                        {
                          "extension": [
                            {
                              "url": "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus",
                              "valueCodeableConcept": {
                                "coding": [
                                  {
                                    "code": "01",
                                    "display": "Number present and verified",
                                    "system": "https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus",
                                    "version": "1.0.0"
                                  }
                                ]
                              }
                            }
                          ],
                          "system": "https://fhir.nhs.uk/Id/nhs-number",
                          "value": "9000000009"
                        }
                      ],
                      "meta": {
                        "security": [
                          {
                            "code": "U",
                            "display": "unrestricted",
                            "system": "http://terminology.hl7.org/CodeSystem/v3-Confidentiality"
                          }
                        ],
                        "versionId": "2"
                      },
                      "multipleBirthInteger": 1,
                      "name": [
                        {
                          "family": "Smith",
                          "given": [
                            "Jane"
                          ],
                          "id": "123",
                          "period": {
                            "end": "2021-12-31",
                            "start": "2020-01-01"
                          },
                          "prefix": [
                            "Mrs"
                          ],
                          "suffix": [
                            "MBE"
                          ],
                          "use": "usual"
                        }
                      ],
                      "resourceType": "Patient",
                      "telecom": [
                        {
                          "id": "789",
                          "period": {
                            "end": "2021-12-31",
                            "start": "2020-01-01"
                          },
                          "system": "phone",
                          "use": "home",
                          "value": "01632960587"
                        },
                        {
                          "id": "790",
                          "period": {
                            "end": "2022-12-31",
                            "start": "2019-01-01"
                          },
                          "system": "email",
                          "use": "home",
                          "value": "jane.smith@example.com"
                        },
                        {
                          "extension": [
                            {
                              "url": "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-OtherContactSystem",
                              "valueCoding": {
                                "code": "textphone",
                                "display": "Minicom (Textphone)",
                                "system": "https://fhir.hl7.org.uk/CodeSystem/UKCore-OtherContactSystem"
                              }
                            }
                          ],
                          "id": "OC789",
                          "period": {
                            "end": "2021-12-31",
                            "start": "2020-01-01"
                          },
                          "system": "other",
                          "use": "home",
                          "value": "01632960587"
                        }
                      ]
                    },
                    "search": {
                      "score": 0.75
                    }
                  }
                ],
                "resourceType": "Bundle",
                "timestamp": "2019-12-25T12:00:00+00:00",
                "format": "datetime",
                "total": 1,
                "type": "searchset"
              }
            },
            "headers": {
              "X-Correlation-Id": {
                "description": "The X-Correlation-ID from the request header, if supplied, mirrored back.\n",
                "type": "string"
              },
              "X-Request-Id": {
                "description": "The X-Request-ID from the request header, if supplied, mirrored back.\n",
                "type": "string"
              }
            },
            "schema": {
              "properties": {
                "entry": {
                  "description": "A list of matched patients. Empty if none found. The patients are ordered by match score, best first. A maximum of 50 patients are returned.\n",
                  "items": {
                    "properties": {
                      "fullUrl": {
                        "description": "Absolute URL of the resource described in this item.",
                        "example": "https://api.service.nhs.uk/personal-demographics/FHIR/R4/Patient/9000000009",
                        "type": "string"
                      },
                      "resource": {
                        "additionalProperties": false,
                        "properties": {
                          "address": {
                            "description": "List of addresses associated with the patient.\n\nThis is only fully populated on a retrieval or a successful update, only the `home` address is returned on a search.\nWhen a patient tagged as `restricted` or `very restricted` is retrieved, all addresses are removed from the response.\n",
                            "items": {
                              "description": "An address associated with the patient.",
                              "properties": {
                                "extension": {
                                  "description": "Postal Address File (PAF) key associated with this address formatted as a FHIR extension. Empty if no PAF key for the address is known, or an object specifying the code system of the address key and the value of the address key.",
                                  "items": {
                                    "description": "Unique identifier for an address.",
                                    "properties": {
                                      "extension": {
                                        "description": "Specification of address key system and address key value. Contains exactly two items: one describing the code system the Address Key uses, and the other specifying the value of the Address Key.",
                                        "items": {},
                                        "maxItems": 2,
                                        "minItems": 2,
                                        "type": "array"
                                      },
                                      "url": {
                                        "default": "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey",
                                        "description": "URL of specification of the AddressKey extension.",
                                        "enum": [
                                          "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey"
                                        ],
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "type": "array"
                                },
                                "id": {
                                  "description": "Unique system identifier for this address.",
                                  "example": "456",
                                  "type": "string"
                                },
                                "line": {
                                  "description": "All lines of the address except the postal code.\n\nSystems must apply the following formatting convention when adding or replacing addresses lines:\n*\tline 1 - premises ID and/or house name, e.g. `Flat 1` or `The Old Schoolhouse`\n*\tline 2 - house number, dependent thoroughfare name and descriptor (if present), thoroughfare name and descriptor, e.g. `23 Mill Lane`\n*\tline 3 - dependent locality/village, locality (if present), e.g. `Boxgrove`\n*\tline 4 - post town, e.g. `Leeds`\n*\tline 5 - county (if present), e.g. `West Yorkshire`\n\nIf any of the lines are blank, they are not returned due to FHIR conformance constraints.\n",
                                  "example": [
                                    "1 Trevelyan Square",
                                    "Boar Lane",
                                    "City Centre",
                                    "Leeds",
                                    "West Yorkshire"
                                  ],
                                  "items": {
                                    "type": "string"
                                  },
                                  "maxItems": 5,
                                  "type": "array"
                                },
                                "period": {
                                  "description": "Business effective period when data item was, is, or will be in use.\n",
                                  "properties": {
                                    "end": {
                                      "description": "End date of time period, if known and if not ongoing, in format `yyyy-mm-dd`. Can be a future date.",
                                      "example": "2021-12-31",
                                      "format": "date",
                                      "type": "string"
                                    },
                                    "start": {
                                      "description": "Start date of time period, if known, in format `yyyy-mm-dd`. Can be a future date.",
                                      "example": "2020-01-01",
                                      "format": "date",
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "start"
                                  ],
                                  "type": "object"
                                },
                                "postalCode": {
                                  "description": "Postal code of the address.",
                                  "example": "LS1 6AE",
                                  "type": "string"
                                },
                                "text": {
                                  "description": "Where a `temp` address is provided a descriptor text must be sent.\nThe list of possible values are:\n* `Second Home` - a patient's second home\n* `Student Accommodation` - a patient's place of residence while at university\n* `Respite Care Address` - where the patient resides during respite care\n* `Temporary Residence Address` - where the patient resides for a specific period of time\n* `Convalescence Home` - the address for a patient during a period of recovery\n* `Mobile Home` - the address of a patient's mobile home, parked for a specific period of time, e.g. the address of a caravan park\n* `Holiday Home` - the address for a patient during a holiday\n\nA patient can also register temporarily at a GP practice using a temporary address. Temporary GP registration information does not appear on the PDS, but the address used for it may.\n",
                                  "enum": [
                                    "Second Home",
                                    "Student Accommodation",
                                    "Respite Care Address",
                                    "Temporary Residence Address",
                                    "Convalescence Home",
                                    "Mobile Home",
                                    "Holiday Home"
                                  ],
                                  "example": "Student Accommodation",
                                  "type": "string"
                                },
                                "use": {
                                  "description": "Purpose of this address:\n  * `home` - the home address is the patient's normal residence. Home address is also known as usual, main, registered, current or permanent address\n  * `temp` - a temporary address is an address used for a set period of time, but where the patient's home, permanent address remains unchanged\n  * `billing` - an address used for correspondence purposes only\n  * `work` - an office address. This can be returned due to legacy data but cannot be added or replaced on update\n\n  A patient should have no more than one current `temp` and/or `billing` address.\n  However, historically this was constrained only by the integration requirements and was not enforced so theoretically more than one can exist for a patient when retrieving.\n  Where multiple instances already exist for the patient it is not expected that local systems should manage those, but should choose the most appropriate one to maintain (e.g. by examining period dates).\n\n  A `home` address is the patient's main residential address and should normally be used for all clinical and demographic purposes, including clinical and appointment correspondence.\n  However additionally, `temp` and `billing` addresses may be provided by a patient when there is a requirement to record an alternative location for the purposes of unbroken care.\n  When sending correspondence to a patient:\n  *\ta present and valid `billing` address may take precedence over `home` and `temp` addresses. A patient should have only a single current `billing` address. An address is considered 'valid' according to its period start and end dates.\n  *\tif no current `billing` address is provided, a `temp` address may take precedence over the `home` address, again if it is valid according to its period start and end dates.\n  * if there is no valid, current `billing` and/or `temp` address, the `home` address must be used.\n",
                                  "enum": [
                                    "home",
                                    "work",
                                    "temp",
                                    "billing"
                                  ],
                                  "example": "home",
                                  "type": "string"
                                }
                              },
                              "required": [
                                "use"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "birthDate": {
                            "description": "The date on which the patient was born or is officially deemed to have been born.\n\nIt is a date in the format `yyyy-mm-dd`. Due to data quality issues on a small number of patients `yyyy-mm` and `yyyy` format may also be returned.\n\nWhen a patient tagged as `very restricted` is retrieved, birth date is removed from the response.\n",
                            "example": "2010-10-22",
                            "format": "date",
                            "type": "string"
                          },
                          "contact": {
                            "description": "A list of patient contacts. Only emergency contacts are returned. Any other contacts are returned on the patients `Related Person`.\nWhen a patient tagged as `restricted` or `very restricted` is retrieved, all contacts are removed from the response.\n",
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "id": {
                                  "example": "C123",
                                  "type": "string"
                                },
                                "period": {
                                  "description": "Business effective period when data item was, is, or will be in use.\n",
                                  "properties": {
                                    "end": {
                                      "description": "End date of time period, if known and if not ongoing, in format `yyyy-mm-dd`. Can be a future date.",
                                      "example": "2021-12-31",
                                      "format": "date",
                                      "type": "string"
                                    },
                                    "start": {
                                      "description": "Start date of time period, if known, in format `yyyy-mm-dd`. Can be a future date.",
                                      "example": "2020-01-01",
                                      "format": "date",
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "start"
                                  ],
                                  "type": "object"
                                },
                                "relationship": {
                                  "description": "The contact relationship wrapper object that holds the details of the relationship to the patient.\n\nThis is only returned when an Emergency Contact number has been set on `telecom`. The only valid code is `C`, which means `Emergency Contact`.\n",
                                  "items": {
                                    "properties": {
                                      "coding": {
                                        "description": "Exactly one contact relationship.",
                                        "items": {
                                          "properties": {
                                            "code": {
                                              "description": "Coded value for contact relationship.",
                                              "example": "C",
                                              "type": "string"
                                            },
                                            "display": {
                                              "description": "Display-friendly representation of the contact relationship code.",
                                              "example": "Emergency Contact",
                                              "type": "string"
                                            },
                                            "system": {
                                              "default": "http://terminology.hl7.org/CodeSystem/v2-0131",
                                              "description": "URL of Code System that describes available contact relationships.",
                                              "format": "url",
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "code"
                                          ],
                                          "type": "object"
                                        },
                                        "maxItems": 1,
                                        "minItems": 1,
                                        "type": "array"
                                      }
                                    },
                                    "required": [
                                      "coding"
                                    ],
                                    "type": "object"
                                  },
                                  "maxItems": 1,
                                  "minItems": 1,
                                  "type": "array"
                                },
                                "telecom": {
                                  "description": "List of Telecom objects on the contact only contains `system` and `value`.\n",
                                  "items": {
                                    "description": "A contact point, such as a phone number or email address",
                                    "properties": {
                                      "extension": {
                                        "description": "Extension that is returned when the communication type is `textphone`. The only code returned is `textphone`, which means `Minicom (Textphone)`.\n\nThe `system` is `other` when the extension is included.\n",
                                        "items": {
                                          "description": "Wrapped object for other contact system details.",
                                          "properties": {
                                            "url": {
                                              "default": "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-OtherContactSystem",
                                              "description": "Definition of other contact system extension.",
                                              "enum": [
                                                "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-OtherContactSystem"
                                              ],
                                              "type": "string"
                                            },
                                            "valueCoding": {
                                              "description": "URL of specification of other contact systems.",
                                              "properties": {
                                                "code": {
                                                  "description": "Coded value for the other contact system in place.",
                                                  "example": "textphone",
                                                  "type": "string"
                                                },
                                                "display": {
                                                  "description": "Display-friendly representation of the other contact system code.",
                                                  "example": "Minicom (Textphone)",
                                                  "type": "string"
                                                },
                                                "system": {
                                                  "default": "https://fhir.hl7.org.uk/CodeSystem/UKCore-OtherContactSystem",
                                                  "description": "URL of Code System that describes available contact relationships.",
                                                  "type": "string"
                                                }
                                              },
                                              "type": "object"
                                            }
                                          },
                                          "type": "object"
                                        },
                                        "maxItems": 1,
                                        "type": "array"
                                      },
                                      "id": {
                                        "description": "Unique object identifier for this contact point.",
                                        "example": "789",
                                        "type": "string"
                                      },
                                      "period": {
                                        "description": "Business effective period when data item was, is, or will be in use.\n",
                                        "properties": {
                                          "end": {
                                            "description": "End date of time period, if known and if not ongoing, in format `yyyy-mm-dd`. Can be a future date.",
                                            "example": "2021-12-31",
                                            "format": "date",
                                            "type": "string"
                                          },
                                          "start": {
                                            "description": "Start date of time period, if known, in format `yyyy-mm-dd`. Can be a future date.",
                                            "example": "2020-01-01",
                                            "format": "date",
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "start"
                                        ],
                                        "type": "object"
                                      },
                                      "system": {
                                        "description": "Means of communication, such as phone or email.",
                                        "enum": [
                                          "phone",
                                          "fax",
                                          "email",
                                          "other"
                                        ],
                                        "example": "phone",
                                        "type": "string"
                                      },
                                      "use": {
                                        "description": "Location associated with communication system.",
                                        "enum": [
                                          "home",
                                          "work",
                                          "temp",
                                          "mobile"
                                        ],
                                        "example": "home",
                                        "type": "string"
                                      },
                                      "value": {
                                        "description": "Phone number, email address, or other identifier for use with contact system.",
                                        "example": "01632960587",
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "system",
                                      "value"
                                    ],
                                    "type": "object"
                                  },
                                  "type": "array"
                                }
                              },
                              "required": [
                                "relationship",
                                "telecom"
                              ],
                              "title": "Schema for a patient contact.",
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "deceasedDateTime": {
                            "description": "The date and time on which a person died or is officially deemed to have died, if applicable and known.\n\nIt is a datetime in the format `yyyy-mm-ddTHH:MM:SS+HH:MM` or `yyyy-mm-dd`. Due to data quality issues on a small number of patients `yyyy-mm` and `yyyy` format may also be returned.\n\nWhen a patient tagged as `very restricted` is retrieved, death date is removed from the response.\n",
                            "example": "2010-10-22T00:00:00+00:00",
                            "format": "date-time",
                            "pattern": "^([12]\\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\\d|3[01])T\\d{2}:\\d{2}:\\d{2}\\+\\d{2}:\\d{2})$|^([12]\\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\\d|3[01])T\\d{2}:\\d{2}:\\d{2})$|^([12]\\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\\d|3[01])T\\d{2}:\\d{2}:\\d{2}\\+\\d{2}:\\d{2})$|^([12]\\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\\d|3[01]))$",
                            "type": "string"
                          },
                          "extension": {
                            "description": "Wrapper array for the patient's death notification status; this is a FHIR extension. Always contains zero or one death notification status object.\n",
                            "items": {},
                            "type": "array"
                          },
                          "gender": {
                            "description": "Classification of the gender of a patient. The classification is phenotypical rather than genotypical, i.e. it does not provide codes for medical or scientific purposes.\nIt is the administrative gender that the patient wishes to be known as. In some cases, this may not be the same as the patient’s registered birth gender, or their current clinical gender.\n",
                            "enum": [
                              "male",
                              "female",
                              "other",
                              "unknown"
                            ],
                            "example": "female",
                            "type": "string"
                          },
                          "generalPractitioner": {
                            "description": "General Practice (not practitioner) with which the patient is, or was, registered. Always contains zero or one general practitioner object.\nWhen a patient tagged as `restricted` or `very restricted` is retrieved, the General Practice is removed from the response.\n",
                            "items": {
                              "description": "General practice (not practitioner) with which the patient is or was registered.",
                              "properties": {
                                "id": {
                                  "description": "Object identifier (OID) specific to the returned details - this should be return exactly the same in any update.",
                                  "example": "254406A3",
                                  "type": "string"
                                },
                                "identifier": {
                                  "description": "Identifier and system of identification used for this Organisation.",
                                  "properties": {
                                    "period": {
                                      "description": "Business effective period when data item was, is, or will be in use.\n",
                                      "properties": {
                                        "end": {
                                          "description": "End date of time period, if known and if not ongoing, in format `yyyy-mm-dd`. Can be a future date.",
                                          "example": "2021-12-31",
                                          "format": "date",
                                          "type": "string"
                                        },
                                        "start": {
                                          "description": "Start date of time period, if known, in format `yyyy-mm-dd`. Can be a future date.",
                                          "example": "2020-01-01",
                                          "format": "date",
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "start"
                                      ],
                                      "type": "object"
                                    },
                                    "system": {
                                      "description": "URL for the Organisation Data Service - who are responsible for publishing codes that identify organisations and individuals across health and social care.",
                                      "example": "https://fhir.nhs.uk/Id/ods-organization-code",
                                      "type": "string"
                                    },
                                    "value": {
                                      "description": "Organisation code for the registered general practice, as held in the [Organisation Data Service](https://developer.nhs.uk/apis/ods/).",
                                      "example": "Y12345",
                                      "pattern": "^[0-9A-Z]+$",
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "value"
                                  ],
                                  "type": "object"
                                },
                                "type": {
                                  "description": "Type of Reference being returned.",
                                  "example": "Organization",
                                  "type": "string"
                                }
                              },
                              "required": [
                                "identifier"
                              ],
                              "type": "object"
                            },
                            "maxItems": 1,
                            "type": "array"
                          },
                          "id": {
                            "description": "The patient's NHS number. The primary identifier of a patient, unique within NHS England and Wales. Always 10 digits and must be a [valid NHS number](https://www.datadictionary.nhs.uk/attributes/nhs_number.html).",
                            "example": "9000000009",
                            "pattern": "^\\d{10}$",
                            "type": "string"
                          },
                          "identifier": {
                            "description": "Identifier and system of identification used for this Patient.",
                            "items": {
                              "maxItems": 1,
                              "properties": {
                                "extension": {
                                  "description": "FHIR extensions.",
                                  "items": {
                                    "description": "Status indicating if NHS number is present and verified.",
                                    "properties": {
                                      "url": {
                                        "default": "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus",
                                        "description": "URL of the extension definition.",
                                        "enum": [
                                          "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus"
                                        ],
                                        "type": "string"
                                      },
                                      "valueCodeableConcept": {
                                        "description": "NHS Number Verification Status Indicator.",
                                        "properties": {
                                          "coding": {
                                            "items": {
                                              "properties": {
                                                "code": {
                                                  "description": "Symbol in syntax defined by the system.",
                                                  "example": "01",
                                                  "type": "string"
                                                },
                                                "display": {
                                                  "description": "Representation defined by the system.",
                                                  "example": "Number present and verified",
                                                  "type": "string"
                                                },
                                                "system": {
                                                  "default": "https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus",
                                                  "description": "URI of the coding system specification.",
                                                  "type": "string"
                                                },
                                                "version": {
                                                  "description": "Version of the coding system in use.",
                                                  "example": "1.0.0",
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "code"
                                              ],
                                              "type": "object"
                                            },
                                            "maxItems": 1,
                                            "minItems": 1,
                                            "type": "array"
                                          }
                                        },
                                        "required": [
                                          "coding"
                                        ],
                                        "type": "object"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "type": "array"
                                },
                                "system": {
                                  "default": "https://fhir.nhs.uk/Id/nhs-number",
                                  "description": "System identifier belongs to.",
                                  "format": "url",
                                  "type": "string"
                                },
                                "value": {
                                  "description": "The patient's NHS number. The primary identifier of a patient, unique within NHS England and Wales. Always 10 digits and must be a [valid NHS number](https://www.datadictionary.nhs.uk/attributes/nhs_number.html).",
                                  "example": "9000000009",
                                  "pattern": "^\\d{10}$",
                                  "type": "string"
                                }
                              },
                              "required": [
                                "value"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "meta": {
                            "description": "Metadata about this resource.",
                            "properties": {
                              "security": {
                                "description": "The level of security on the patients record, which affects which fields are populated on retrieval. The possible responses are:\n* U - unrestricted. All available data is returned.\n* R - restricted. Any sensitive data around the patient's location, so `address`, `generalPractitioner` and `telecom`, are removed from the response.\n* V - very restricted. All patient data is removed from the response apart from `id`, `identifier` and `meta` fields. The `gender` field returns `unknown` regardless of actual gender.\n* REDACTED - redacted. The patient record has been marked as invalid, so the data should not be used. This code is never returned; you receive a 404, and appropriate error response, if an invalidated patient retrieval is attempted.\n",
                                "items": {
                                  "properties": {
                                    "code": {
                                      "description": "Code defined by the system value set.",
                                      "enum": [
                                        "U",
                                        "R",
                                        "V",
                                        "REDACTED"
                                      ],
                                      "example": "U",
                                      "type": "string"
                                    },
                                    "display": {
                                      "description": "Representation defined by the system.",
                                      "enum": [
                                        "unrestricted",
                                        "restricted",
                                        "very restricted",
                                        "redacted"
                                      ],
                                      "example": "unrestricted",
                                      "type": "string"
                                    },
                                    "system": {
                                      "description": "URI of the value set specification.",
                                      "example": "http://terminology.hl7.org/CodeSystem/v3-Confidentiality",
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "maxItems": 1,
                                "type": "array"
                              },
                              "versionId": {
                                "description": "The NHS Digital assigned version of the patient resource.",
                                "example": "2",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "multipleBirthInteger": {
                            "description": "The order in which the patient was born, with 1 indicating the first or only birth in the sequence, 2 indicating the second birth in the sequence, 3 indicating the third, and so on up to 7.\n\nThere are two other valid values; `8` meaning `Not applicable` and `9` meaning `Not known`.\n",
                            "example": 1,
                            "maximum": 9,
                            "minimum": 1,
                            "type": "integer"
                          },
                          "name": {
                            "description": "List of names associated with the patient.\nThis is only fully populated on a retrieval or a successful update, only the `usual`, `nickname` and `temp` names are returned on a search.\n\nWhen a patient tagged as `very restricted` is retrieved, all names are removed from the response.\n",
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "family": {
                                  "description": "Family name (often called Surname).",
                                  "example": "Smith",
                                  "maxLength": 35,
                                  "type": "string"
                                },
                                "given": {
                                  "description": "Given names, including any middle names.\n\nEach name(s) should be a separate item in the list. The first given name may include multiple names, separated by a space.\nSubsequent names must be broken down into list items. For example, the input `[Jane Marie Anne, Jo Adele]` returns `[Jane Marie Anne, Jo, Adele]`.\n",
                                  "example": [
                                    "Jane Marie Anne",
                                    "Jo",
                                    "Adele"
                                  ],
                                  "items": {
                                    "example": "Jane",
                                    "maxLength": 35,
                                    "type": "string"
                                  },
                                  "maxItems": 5,
                                  "type": "array"
                                },
                                "id": {
                                  "description": "Unique object identifier for this name.",
                                  "example": "123",
                                  "type": "string"
                                },
                                "period": {
                                  "description": "Business effective period when data item was, is, or will be in use.\n",
                                  "properties": {
                                    "end": {
                                      "description": "End date of time period, if known and if not ongoing, in format `yyyy-mm-dd`. Can be a future date.",
                                      "example": "2021-12-31",
                                      "format": "date",
                                      "type": "string"
                                    },
                                    "start": {
                                      "description": "Start date of time period, if known, in format `yyyy-mm-dd`. Can be a future date.",
                                      "example": "2020-01-01",
                                      "format": "date",
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "start"
                                  ],
                                  "type": "object"
                                },
                                "prefix": {
                                  "description": "Name prefixes, titles, and prenominals.",
                                  "example": [
                                    "Mrs"
                                  ],
                                  "items": {
                                    "example": "Mrs",
                                    "type": "string"
                                  },
                                  "type": "array"
                                },
                                "suffix": {
                                  "description": "Name suffices and postnominals.",
                                  "example": [
                                    "MBE",
                                    "PhD"
                                  ],
                                  "items": {
                                    "example": "MBE",
                                    "type": "string"
                                  },
                                  "type": "array"
                                },
                                "use": {
                                  "description": "How this name should be used.\n* usual - Known as, conventional or the one patient normally uses. A patient always has a usual name.\n* temp - An alias or temporary name. This may also be used for temporary names assigned at birth or in emergency situations.\n* nickname - A name that the patient prefers to be addressed by, but is not part of their usual name.\n* old - This name is no longer in use (or was never correct, but retained for records).\n* maiden - Name changed for Marriage. A name used prior to changing name because of marriage. This term is not gender specific. The use of this term does not imply any particular history for a person's name.\n\nThe following use codes are included in the [name-use](https://www.hl7.org/fhir/valueset-name-use.html) value set, but should not be used and is not be returned as part of a retrieval.\n* official - The formal name as registered in an official (government) registry, but which name might not be commonly used. May be called \"legal name\".\n* anonymous - Anonymous assigned name, alias, or pseudonym (used to protect a person's identity for privacy reasons).\n",
                                  "enum": [
                                    "usual",
                                    "temp",
                                    "nickname",
                                    "old",
                                    "maiden"
                                  ],
                                  "example": "usual",
                                  "type": "string"
                                }
                              },
                              "required": [
                                "use",
                                "family"
                              ],
                              "type": "object"
                            },
                            "minItems": 1,
                            "type": "array"
                          },
                          "resourceType": {
                            "default": "Patient",
                            "description": "FHIR resource type.",
                            "type": "string"
                          },
                          "telecom": {
                            "description": "List of contact points for the patient; for example, phone numbers or email addresses.\nWhen a patient tagged as `restricted` or `very restricted` is retrieved, all contact points are removed from the response.\n",
                            "items": {
                              "description": "A contact point, such as a phone number or email address",
                              "properties": {
                                "extension": {
                                  "description": "Extension that is returned when the communication type is `textphone`. The only code returned is `textphone`, which means `Minicom (Textphone)`.\n\nThe `system` is `other` when the extension is included.\n",
                                  "items": {
                                    "description": "Wrapped object for other contact system details.",
                                    "properties": {
                                      "url": {
                                        "default": "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-OtherContactSystem",
                                        "description": "Definition of other contact system extension.",
                                        "enum": [
                                          "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-OtherContactSystem"
                                        ],
                                        "type": "string"
                                      },
                                      "valueCoding": {
                                        "description": "URL of specification of other contact systems.",
                                        "properties": {
                                          "code": {
                                            "description": "Coded value for the other contact system in place.",
                                            "example": "textphone",
                                            "type": "string"
                                          },
                                          "display": {
                                            "description": "Display-friendly representation of the other contact system code.",
                                            "example": "Minicom (Textphone)",
                                            "type": "string"
                                          },
                                          "system": {
                                            "default": "https://fhir.hl7.org.uk/CodeSystem/UKCore-OtherContactSystem",
                                            "description": "URL of Code System that describes available contact relationships.",
                                            "type": "string"
                                          }
                                        },
                                        "type": "object"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "maxItems": 1,
                                  "type": "array"
                                },
                                "id": {
                                  "description": "Unique object identifier for this contact point.",
                                  "example": "789",
                                  "type": "string"
                                },
                                "period": {
                                  "description": "Business effective period when data item was, is, or will be in use.\n",
                                  "properties": {
                                    "end": {
                                      "description": "End date of time period, if known and if not ongoing, in format `yyyy-mm-dd`. Can be a future date.",
                                      "example": "2021-12-31",
                                      "format": "date",
                                      "type": "string"
                                    },
                                    "start": {
                                      "description": "Start date of time period, if known, in format `yyyy-mm-dd`. Can be a future date.",
                                      "example": "2020-01-01",
                                      "format": "date",
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "start"
                                  ],
                                  "type": "object"
                                },
                                "system": {
                                  "description": "Means of communication, such as phone or email.",
                                  "enum": [
                                    "phone",
                                    "fax",
                                    "email",
                                    "other"
                                  ],
                                  "example": "phone",
                                  "type": "string"
                                },
                                "use": {
                                  "description": "Location associated with communication system.",
                                  "enum": [
                                    "home",
                                    "work",
                                    "temp",
                                    "mobile"
                                  ],
                                  "example": "home",
                                  "type": "string"
                                },
                                "value": {
                                  "description": "Phone number, email address, or other identifier for use with contact system.",
                                  "example": "01632960587",
                                  "type": "string"
                                }
                              },
                              "required": [
                                "system",
                                "value"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "search": {
                        "properties": {
                          "score": {
                            "description": "Search score from 0.0 to 1.0.",
                            "example": 0.75,
                            "maximum": 1,
                            "minimum": 0,
                            "type": "number"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "resourceType": {
                  "default": "Bundle",
                  "description": "FHIR Resource Type.",
                  "type": "string"
                },
                "timestamp": {
                  "description": "Time the search was performed.",
                  "example": "2019-12-25T12:00:00+00:00",
                  "format": "datetime",
                  "type": "string"
                },
                "total": {
                  "description": "Number of resources returned in search.",
                  "example": 1,
                  "type": "integer"
                },
                "type": {
                  "default": "searchset",
                  "description": "FHIR Bundle Type.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "An error occurred as follows:\n\n| HTTP status | Error code                 | Description |\n| ----------- | -------------------------- | --------------------------------------------- |\n| 200         | TOO_MANY_MATCHES           | Too many matches were found - user should be told to refine their search parameters.\t|\n| 400         | INVALID_SEARCH_DATA\t       | Invalid combination of search parameters. For details, see the `diagnostics` field. |\n| 400         | UNSUPPORTED_SERVICE        | No search parameters provided. |\n| 400         | MISSING_VALUE              | Missing header or query parameter. For details, see the `diagnostics` field. |\n| 400         | INVALID_VALUE              | Invalid header or query parameter. For details, see the `diagnostics` field. |\n| 400         | ADDITIONAL_PROPERTIES      | Unrecognised query parameter. For details, see the `diagnostics` field. |\n| 401         | ACCESS_DENIED              | Access token missing, invalid or expired, or calling application not configured for this operation. |\n| 403         | INVALID_VALUE              | Multiple results requested when using the API in application-restricted mode. |\n| 408         | UNABLE_TO_CALL_SERVICE     | The downstream domain processing has not completed within the configured timeout period. |\n| 429         | TOO_MANY_REQUESTS          | You have exceeded your application's [rate limit](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#rate-limits). |\n",
            "examples": {
              "application/fhir+json": {
                "issue": [
                  {
                    "code": "value",
                    "details": {
                      "coding": [
                        {
                          "code": "INVALID_VALUE",
                          "display": "Provided value is invalid",
                          "system": "https://fhir.nhs.uk/R4/CodeSystem/Spine-ErrorOrWarningCode",
                          "version": "1"
                        }
                      ]
                    },
                    "diagnostics": "Invalid value - 'mal' in field 'gender'",
                    "severity": "error"
                  }
                ],
                "resourceType": "OperationOutcome"
              }
            },
            "schema": {
              "description": "Outcome of an operation that does not result in a resource or bundle being returned, for example an error or an async/batch submission.\nThere are a number of possible error codes that can be returned along with a more detailed description in the `display` field.\n",
              "properties": {
                "issue": {
                  "description": "List of issues that have occurred.",
                  "items": {
                    "properties": {
                      "code": {
                        "description": "FHIR error code.",
                        "enum": [
                          "invalid",
                          "structure",
                          "required",
                          "value",
                          "invariant",
                          "security",
                          "login",
                          "unknown",
                          "expired",
                          "forbidden",
                          "suppressed",
                          "processing",
                          "not-supported",
                          "duplicate",
                          "multiple-matches",
                          "not-found",
                          "deleted",
                          "too-long",
                          "code-invalid",
                          "extension",
                          "too-costly",
                          "business-rule",
                          "conflict",
                          "transient",
                          "lock-error",
                          "no-store",
                          "exception",
                          "timeout",
                          "incomplete",
                          "throttled",
                          "informational"
                        ],
                        "example": "invalid",
                        "type": "string"
                      },
                      "details": {
                        "description": "Internal error code.",
                        "properties": {
                          "coding": {
                            "items": {
                              "properties": {
                                "code": {
                                  "description": "Symbol in syntax defined by the system.",
                                  "example": "INVALID_VALUE",
                                  "type": "string"
                                },
                                "display": {
                                  "description": "Representation defined by the system.",
                                  "example": "Provided value is invalid",
                                  "type": "string"
                                },
                                "system": {
                                  "description": "URI of the coding system specification.",
                                  "example": "https://fhir.nhs.uk/R4/CodeSystem/Spine-ErrorOrWarningCode",
                                  "type": "string"
                                },
                                "version": {
                                  "description": "Version of the coding system in use.",
                                  "example": "1",
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "diagnostics": {
                        "description": "Additional diagnostic information about the issue. This information is subject to change.",
                        "example": "Invalid value - 2019-01 in field 'birthDate'",
                        "type": "string"
                      },
                      "expression": {
                        "description": "FHIRPath of element(s) related to the error.",
                        "example": "Patient.name.given",
                        "type": "string"
                      },
                      "severity": {
                        "description": "Severity of the error.",
                        "enum": [
                          "fatal",
                          "error",
                          "warning",
                          "information"
                        ],
                        "example": "error",
                        "type": "string"
                      }
                    },
                    "required": [
                      "severity",
                      "code"
                    ],
                    "type": "object"
                  },
                  "minItems": 1,
                  "type": "array"
                },
                "resourceType": {
                  "default": "OperationOutcome",
                  "description": "FHIR Resource Type.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "externalDocs": {
          "description": "ODS codes and documentation.",
          "url": "https://fhir.nhs.uk/Id/ods-organization-code"
        },
        "description": "## Overview\nUse this endpoint to search for a patient in PDS.\n\nYou can search using various combinations of:\n  * given name\n  * family name\n  * gender\n  * postcode\n  * date of birth - which can be a range\n  * date of death - which can be a range\n  * registered GP practice\n  * email address\n  * phone number\n\n  \nThere are various search options, such as fuzzy search, exact match, history and wildcards.\n\nThe behaviour of this endpoint depends on which access mode you are using:\n\n| Access mode                    | Behaviour                                  |\n| ------------------------------ | ------------------------------------------ |\n| Application-restricted access  | Only a single unique match returned        |\n| Healthcare worker access       | Up to 50 matching patient records returned |\n| Patient access                 | Not yet available                          |\n\n## Search options\nThe following sections explain the various search options.\nWhich options you choose depends very much on your use case, and getting it right is really important.\nIf you need help, [contact us](https://digital.nhs.uk/developer/help-and-support).\n\n### Application-restricted access mode\nIn this access mode, you only get a single matching patient record, and only if it's a unique match.\n\nUse search options that are likely to find a unique match. In our experience, the following is a good starting point:\n  * search on given name, family name, postcode and date of birth - this combination should uniquely identify a patient\n  * for given name, use the first three characters and a wildcard, for example to search for `Annabel`, use `Ann*` - this caters for different name spellings and abbreviations\n  * for postcode, use the first two characters and a wildcard, for example to search for `LS11 6AD`, use `LS*` - this caters for people who have moved locally but not updated PDS\n  * use a non-fuzzy search - this reduces the chance of multiple matches\n  * use a non-exact match - an exact match does not work with wildcards\n  * include history - this increases the chance of a match\n\nFor more details, see the following sections.\n\n### Healthcare worker access mode\nIn this access mode - where the end user is a strongly authenticated healthcare worker - you can get up to 50 matching patient records.\nThis allows the end user to choose the best match.\n\nUse search parameters that are relevant to your use case - for example date of death is not always appropriate.\n\nTo protect patient privacy, design your search to minimise the number of matching patients.\nFor example, you could:\n  * encourage users to enter as many search parameters as they can\n  * force users to try a non-fuzzy search first and then only offer a fuzzy search if they cannot find the patient\n\nFor more details, see the following sections.\n\n### Non-fuzzy search\nA non-fuzzy search:\n  * allows wildcards in names and postcodes\n  * does not match homophones or transposed names\n  * can optionally search history, such as previous names and addresses\n\nIt is less likely to return multiple matches than a fuzzy search, so is more suitable for finding a unique match.\n\nThe minimum search parameters are:\n  * family name - which can include wildcards\n  * date of birth - which can be a range\n\n  \n### Fuzzy search\nA fuzzy search:\n  * matches common homophones, such as `Smith` and `Smythe`, using the [Soundex](https://en.wikipedia.org/wiki/Soundex) algorithm\n  * checks for transposed names, such as `Adam Thomas` and `Thomas Adam`\n  * always searches history, such as previous names and addresses\n\nIt is more likely to include multiple matches than a non-fuzzy search, so is not ideal for finding a unique match.\n\nIt is also more likely to include false positives - other patients that match the search criteria.\nTherefore, for privacy reasons, it is better to use it only if a non-fuzzy match has failed.\n\nYou must use one of the following search parameter combinations:\n  * given name, family name and date of birth\n  * family name, date of birth, gender and postcode\n  * given name, date of birth, gender and postcode\n\nIf you include the date of death or registered GP practice query parameters, they are not used in the search. However they do affect the patient's matching score - a mismatch reduces the returned score.\n\n### History\nPDS holds historic information, including previous names and addresses.\n\nA fuzzy search always includes history. For a non-fuzzy search, you can request to include history.\n\nSearching history can match patients when only a previous name or address is known, or if a patient provides a previous name or address on the assumption that their record hasn’t been updated. When a search done on historic data results in a match, the patient's current data will be returned in the response message, not the historic data used to identify the match.\n\n### Exact match\nYou can request an exact match.\nThis might be useful if you are verifying an NHS number against details you already believe to be correct.\nIt is unlikely to work well with wildcards or fuzzy search.\n\n### Names\nMatching names can be difficult due to:\n  * multiple given names, such as in `Jane Anne Smith`\n  * [compound given names](https://en.wikipedia.org/wiki/Given_name#Compound), such as in `John Paul Smith`\n  * multiple or double-barrelled surnames, such as in `Michael Smith-Jones`\n  * homophones, such as `Smith` and `Smythe` or `Ann` and `Anne`\n  * abbreviated names, such as `Bob` instead of `Robert`\n  * transposed names, such as `Adam Thomas` instead of `Thomas Adam`\n  * previous names, such as maiden names\n  * special characters such as in `O'Reilly`, `Jones-Smith` or `Kociński`\n  * spelling mistakes, either in the search criteria or in PDS\n\nTo deal with some of these issues:\n  * we always search all given names\n  * we search across all types of name - usual, nickname and temporary\n  * a fuzzy search matches homophones, transposed names and previous names\n  * for a non fuzzy search, you can optionally use wildcards and search previous names\n\n### Gender\nPDS has four options for gender - `male`, `female`, `other` and `unknown`.\nFor some people, the gender held in PDS might not match the gender they identify with.\n\nIn these cases, searching by gender might not find the patient.\nThese are edge cases but are important to consider because gender can be a sensitive issue for the people in question.\n\nIn general, we recommend not including gender as a search parameter.\n  \n### Date of birth and death\nSometimes, the exact date of birth or death is not known when doing a search.\nSometimes, the date of birth or death is not accurate in PDS.\nFor example, if only the year of birth is known, the day and month of birth might be recorded as the first of January - for example, `01/01/1932`.\n\nIn such cases, searching a range of dates can help. This can result in multiple matches, so might not work well when searching for a unique match.\n\n### Postcode\nPeople sometimes move locally, meaning the postcode in PDS is out of date, but does at least match on the first two characters.\n\nSearching for the first two characters of the postcode and a wildcard can work well. For example, to search for `LS11 6AD`, use `LS*`.\nThis is only possible for a non-fuzzy search.\n\nThis can result in multiple matches, but it has been known to work well in some cases - even for unique matches.\n\n### General practitioner\nThis is an ODS code. If you use it, it must match exactly.\n\n### Phone number and email address\nIf you use phone number and/or email address, only exact matches will be returned.\n  * Wildcards are not supported\n  * Only current data will be searched, unless a history search is also requested in which case the match will take into account both current and historic data\n  * Email addresses are not case-sensitive.\n\n## Patient data returned\nThe patient data returned on a search is not the full set of data that is returned on a retrieval by NHS number. The following data is included:\n* NHS number\n* names - usual, nickname and temporary\n* gender\n* birth information, apart from place of birth\n* death information\n* address - home address\n* contact details\n* registered GP\n* restricted patient flag\n\nThe following data is excluded:\n* place of birth\n* names, apart from usual, nickname and temporary \n* addresses, apart from home address\n* pharmacy details\n* communication details\n* contact preferences\n\n### Restricted patients\nSome patients are tagged as [restricted](https://digital.nhs.uk/services/demographics/restricting-access-to-a-patients-demographic-record) and are sometimes known as sensitive patients. When performing a search, restricted patients can be returned; however, location sensitive fields such as `address`, `telecom`, `contact` and `generalPractitioner` are removed.\n\nIf `address-postalcode`, `address-postcode`, or `general-practitioner` are included in the search parameters, no restricted patients are returned even if a match is identified.\n\nThe restricted flag can be found in the data under `meta/security` on the patient resource.\n\n### Invalidated patients\nSome patients are marked as invalidated in PDS - also known as `redacted` in FHIR terminology. Invalidated patient records are not returned in search results.\nIf an invalidated patient record has been superseded, the superseding record is returned.\n\n## Scoring\nEvery matched patient in the result list includes a score to indicate how closely the patient matched the search parameters.\n\nA score of 1.0 indicates an exact match. A score of less than 1.0 indicates a partial match.\n\nThe result list is sorted in descending score order - best match first.\n\nUse the `_exact-match` query parameter to return exact matches only - where the score is 1.0.\n\n## Clinical safety and privacy\nThis endpoint can return multiple matching patients for a given search, including partial matches.\n\nEnsure that you design your software to minimise the following risks:\n* an end user selects the wrong patient from the results presented, so there is a risk of clinical harm; for example due to retrieval of the wrong clinical data\n* the end user has access to patients’ personal data, so there is a risk to patient privacy\n\nNote that:\n* we record an access request in our audit trail for all patients matched in a PDS search\n* it is almost certainly a good idea to display search results in descending score order - best match first\n\nPlease consider the information your application returns to users. For example a patient's temporary address can be used to perform a successful search. The home address will be included in the response. For citizen facing services please be aware of this behaviour and do not present a different address to the patient, unless they are logged in at a sufficiently high proof point.\n\n## Sandbox testing\nYou can test the following scenarios in our sandbox environment:\n\n| Scenario                                | Request                                                                                                                                                         | Response                                                                |\n| ----------------------------------------| ----------------------------------------------------------------------------------------------------------------------------------------------------------------| ------------------------------------------------------------------------|\n| Basic search with phone & email positive| `family`=`Smith`, `gender`=`female`, `birthdate`=`eq2010-10-22`, `email`=`jane.smith@example.com`, `phone`=`01632960587`                                        | HTTP Status 200 with single search result.                              |\n| Basic search with phone & email negative| `family`=`Smith`, `gender`=`female`, `birthdate`=`eq2010-10-22`, `email`=`deb.trotter@example.com`, `phone`=`0121111111`                                        | HTTP Status 200 with no search results\n| Wildcard search without phone/email     | `family`=`Sm*`, `gender`=`female`, `birthdate`=`eq2010-10-22`                                                                                                   | HTTP Status 200 with search result of two.                              |\n| Wildcard search with email and phone    | `family`=`Sm*`, `gender`=`female`, `birthdate`=`eq2010-10-22`, `email`=`jane.smith@example.com`, `phone`=`01632960587`                                          | HTTP Status 200 with single search result.                              |\n| Search with limited results             | `family`=`Sm*`, `gender`=`female`, `birthdate`=`eq2010-10-22`, `email`=`jane.smith@example.com`, `phone`=`01632960587`, `_max-results`=`1`                      | HTTP Status 200 with single search result.                              |\n| Search with date range                  | `family`=`Smith`, `gender`=`female`, `birthdate`=`ge2010-10-21`, `birthdate`=`le2010-10-23`, `email`=`jane.smith@example.com`, `phone`=`01632960587`            | HTTP Status 200 with single search result.                              |\n| Fuzzy search with phone and email       | `family`=`Smith`, `given`=`Jane`, `gender`=`female`, `birthdate`=`eq2010-10-22`, `email`=`jane.smith@example.com`, `phone`=`01632960587`, `_fuzzy-match`=`true` | HTTP Status 200 with single search result.                              |\n| Fuzzy search without phone or email     | `family`=`Smith`, `given`=`Jane`, `gender`=`female`, `birthdate`=`eq2010-10-22`                                                                                 | HTTP Status 200 with search result of two.\n| Restricted patient search               | `family`=`Smythe`, `given`=`Janet`, `gender`=`female`, `birthdate`=`eq2005-06-16`, `email`=`janet.smythe@example.com`, `phone`=`01632960587`                    | HTTP Status 200 with single search result with restricted data omitted. |\n| Compound name search                    | `family`=`Smith`, `given`=`John Paul`, `given`=`James`, `gender`=`female`, `birthdate`=`eq2010-10-22`, `email`=`johnp.smith@example.com`, `phone`=`01632960587` | HTTP Status 200 with single search result.                              |\n| Unsuccessful search                     | Any other valid search query parameters                                                                                                                         | HTTP Status 200 with no search results                                  |\n| Valid/invalid search criteria           | `family`=`Sm*`, `gender`=`female`, 'invalidParam'='123', `birthdate`=`eq2010-10-22`, `email`=`j.smith@example.com`, `phone`=`0163`                              | HTTP Status 400 with problem description                                |\n| Unsuccessful search on email/phone only | `email`=`j.smith@example.com`, `phone`=`0163`                                                                                                                   | HTTP Status 400 with problem description                                |\n| Invalid date format                     | `birthdate` or `death-date` query parameters with values not in format `YYYY-MM-DD`                                                                             | HTTP Status 400 with problem description                                |\n| Too few search parameters               | Any invalid combination of query parameters                                                                                                                     | HTTP Status 400 with problem description                                |\n| Missing X-Request-ID                    | `id`=`9000000009` (or any other valid NHS number)                                                                                                               | HTTP Status 412 with problem description                                |\n\nYou can try out the sandbox using the 'Try this API' feature on this page.\n\nAlternatively, you can try out the sandbox using our Postman collection:\n\n\n[![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/a1ce1b055839caa384a8?action=collection%2Fimport)\n",
        "operationId": "SearchPatient",
        "summary": "Search for a patient"
      }
    },
    "/Patient/{id}": {
      "parameters": [
        {
          "description": "The patient's NHS number. The primary identifier of a patient, unique within NHS England and Wales. Always 10 digits and must be a [valid NHS number](https://www.datadictionary.nhs.uk/attributes/nhs_number.html).",
          "in": "path",
          "name": "id",
          "required": true,
          "type": "string"
        },
        {
          "description": "An [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis).\n\nRequired in all environments except sandbox.\n",
          "format": "^Bearer\\ [[:ascii:]]+$",
          "in": "header",
          "name": "Authorization",
          "required": false,
          "type": "string"
        },
        {
          "description": "\nThe user role ID (URID) for the current session. Also known as a user role profile ID (URPID).\n\nThis header is optional.\n\nIn Application-restricted access mode this header is ignored.\n\nIn Healthcare worker access mode if you send this header it must be valid for the logged-in user. See [determine the user's role](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation/user-restricted-restful-apis-nhs-cis2-separate-authentication-and-authorisation#step-9-determine-the-user-s-role) for guidance.\n",
          "in": "header",
          "name": "NHSD-Session-URID",
          "pattern": "^[0-9]+$",
          "required": false,
          "type": "string"
        },
        {
          "description": "A globally unique identifier (GUID) for the request, which we use to de-duplicate repeated requests and to trace the request if you contact our helpdesk.\n\nMust be a universally unique identifier (UUID) (ideally version 4).\n\nMirrored back in a response header.\n\nIf you re-send a failed request, use the same value in this header.\n",
          "in": "header",
          "name": "X-Request-ID",
          "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
          "required": false,
          "type": "string"
        },
        {
          "description": "An optional ID which you can use to track transactions across multiple systems. It can take any value, but we recommend avoiding `.` characters.\n\nMirrored back in a response header.\n",
          "in": "header",
          "name": "X-Correlation-ID",
          "required": false,
          "type": "string"
        },
        {
          "description": "The ODS code of an End User Organisation (EUO). Currently optional but will be updated to be mandatory for client applications which service multiple End User organisations, in order to correctly attribute calls to each EUO. Date of change to a mandatory field to be defined.\n",
          "in": "header",
          "name": "NHSD-End-User-Organisation-ODS",
          "required": false,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/fhir+json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Information successfully returned.",
            "examples": {
              "application/fhir+json": {
                "address": [
                  {
                    "extension": [
                      {
                        "extension": [
                          {
                            "url": "type",
                            "valueCoding": {
                              "code": "PAF",
                              "system": "https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType"
                            }
                          },
                          {
                            "url": "value",
                            "valueString": "12345678"
                          }
                        ],
                        "url": "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey"
                      }
                    ],
                    "id": "456",
                    "line": [
                      "1 Trevelyan Square",
                      "Boar Lane",
                      "City Centre",
                      "Leeds",
                      "West Yorkshire"
                    ],
                    "period": {
                      "end": "2021-12-31",
                      "start": "2020-01-01"
                    },
                    "postalCode": "LS1 6AE",
                    "use": "home"
                  },
                  {
                    "extension": [
                      {
                        "extension": [
                          {
                            "url": "type",
                            "valueCoding": {
                              "code": "PAF",
                              "system": "https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType"
                            }
                          },
                          {
                            "url": "value",
[...]
